* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #000000;
  top: 0;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

a {
  text-decoration: none;
  font-family: "Andale Mono, monospace";
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.header-nav {
  display: flex;
  height: 60px;
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  /* background-size: cover; */
  background: url("../../static/alfons-morale.png") center / cover no-repeat;
}
h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
