.hero {
  margin: 100px 0px;
  height: 250px;
  background-color: powderblue;
}

.hero-text {
  padding: 20px;
  font-size: calc(24px + 1.5vw);
  line-height: 1.2;
}

.hero-author {
  display: flex;
}

.hero-author-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.hero-author-text {
  padding: 20px;
  color: #595959;
}
