.grid {
  display: grid;
  grid-template-columns: repeat(2, 150px); /* 4列 */
  grid-column-gap: 20px; /* 間隔 */
  grid-row-gap: 10px; /* 縦間隔 */
  justify-content: center;
}

.post-link-image {
  width: 150px;
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 90px; /* 間隔 */
    grid-row-gap: 70px;
  }
}

.col-body {
  position: relative;
  width: 150px;
}
.col-person {
  position: absolute;
  font-size: smaller;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

.col-status {
  word-wrap: break-word;
  position: absolute;
  font-size: smaller;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}
