.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4列 */
  grid-column-gap: 90px; /* 間隔 */
  grid-row-gap: 70px; /* 縦間隔 */
}

.col-body {
  position: relative;
}

.col-person {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.col-status {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #ffffff;
}
